*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	margin:0;

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

.slide {
	min-height: 700px;
	padding: 6em;
	background-image: url(http://clipartist.info/www/COLOURINGBOOK.ORG/Letters/M/magician_doing_a_trick_black_white_line_art_coloring_book_colouring-555px.png);
	background-size: 50% auto;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.slide2 {
    padding-left: 50%;
    background-color: blue;
    background-position: left center;
}
.slide:nth-of-type(2n) {
    padding-right: 50%;
    background-color: green;
    background-position: right center;
}